

<div class="container">
    <div class="row">
        <div class="col-2">{{inPerson.id}}</div>
        <div class="col-2">{{inPerson.firstname}}</div>
        <div class="col-2">{{inPerson.lastname}}</div>
        <div class="col-2">{{inPerson.phone}}</div>
        <div class="col-2">
            <button class="btn btn-warning"
                (click)="openModal(template)">
                Изменить</button>
        </div>
        <div class="col-2">
            <button class="btn btn-danger"
                (click)="onDeletePerson(inPerson)">
                Удалить</button>
        </div>
    </div>

    <hr>

</div>

<ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">ID: {{inPerson.id}} И.Ф.: {{inPerson.firstname}} {{inPerson.lastname}} Phone: {{inPerson.phone}}</h4>
        
   <hr>

   
            <button class="btn btn-success"
            aria-label="Close" (click)="modalRef.hide()">
            Закрыть</button>

    </div>
    <div class="modal-body">

        



                <form [formGroup]="personForms">
                    <div class="row mt-2">
                        <div class="col-12">
                            <input type="text" class="form-control" formControlName="firstName" placeholder="Имя" value="{{inPerson.firstname}}" #inputFirstname>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <input type="text" class="form-control" formControlName="lastName" placeholder="Фамилия" value="{{inPerson.lastname}}" #inputLastname>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <input [textMask]="{mask: mask}"  type="text" class="form-control" formControlName="phone" placeholder="Телефон" value="{{inPerson.phone}}" #inputPhone>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <button  [disabled]="personForms.invalid" class="btn btn-primary" aria-label="Close" (click)="onEditPerson(inputFirstname.value, inputLastname.value, inPerson.id, inputPhone.value, modalRef.hide())">Изменить</button>
                        </div>
                    </div>
                </form>
                

    </div>
  </ng-template>