<div class="container">

        <form [formGroup]="personForms">
                <div class="row mt-2">
                    <div class="col-12">
                        <input type="text" class="form-control" formControlName="firstName" placeholder="Имя"  #inputFirstname>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <input type="text" class="form-control" formControlName="lastName" placeholder="Фамилия"  #inputLastname>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <input [textMask]="{mask: mask}"  type="text" class="form-control" formControlName="phone" placeholder="Телефон" #inputPhone>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <button  [disabled]="personForms.invalid" class="btn btn-primary" aria-label="Close" (click)="onAddPerson(inputFirstname.value, inputLastname.value, inputPhone.value)">Добавить</button>
                    </div>
                </div>
            </form>



</div>