<div class="container">
  <div class="row">
    <h2>{{title}}</h2>
  </div>

 
  <div class="row">
    <h6>Поиск по имени и фамилии</h6>
  </div>

<div class="row mt-2">
  <div class="col-12">
      <input type="text" class="form-control" placeholder="Имя" [(ngModel)] = "searchGuy">
  </div>  
</div>

<div class="row mt-2">
  <div class="col-12">
      <input type="text" class="form-control" placeholder="Фамилия" [(ngModel)] = "searchSurname">
  </div>  
</div>


</div>


<hr>


<app-person-view [inPerson]="person" *ngFor="let person of persons | MyFilterPipe:searchGuy:searchSurname" (deleteperson)="onDeletePerson($event)"   (editperson)="onEditPerson($event)"  >
</app-person-view>

<hr>
<app-person-add (addperson)="onAddPerson($event)"></app-person-add>